/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
}

/* Encabezado */
header {
    background-color: #222; /* Fondo gris oscuro */
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Contenedor principal */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333; /* Fondo gris oscuro */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

/* Imagen del producto */
.container-img img {
    max-width: 100%;
    height: auto;
}

/* Precios y detalles del producto */
.container-price {
    text-align: center;
    font-size: 24px;
    color: #ff3d00; /* Color naranja para resaltar el precio */
}

/* Suscripción */
.container-details-product {
    text-align: center;
    color: #ffffff; /* Color verde oscuro para el texto */
}

/* Países y métodos de pago */
.container-countries-and-payment {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-countries,
.container-payment-methods {
    flex: 1;
    margin: 10px;
}

/* Cantidad y botones */
.container-add-cart {
    text-align: center;
    background-color: #333; /* Fondo naranja */
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para el botón de WhatsApp */
#whatsapp-link {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 5px 10px; /* Reducción del padding */


}

#whatsapp-link img {
    max-width: 100%;
    height: auto;
}

/* Estilo para el botón de "Configurar Bot" */
.btn-clean {
    display: block;
    background-color: #ff3d00; /* Cambio de color de fondo a naranja */
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    margin-top: 10px; /* Reduce el espacio superior para que tenga el mismo tamaño que el botón de WhatsApp */
    text-decoration: none;
    border-radius: 5px;


}

.btn-clean:hover {
    background-color: #005a46; /* Color de fondo del botón al pasar el mouse */
}

/* Estilos para el botón de "Mostrar Descripción" */
.description-tab {
    text-align: center;
    margin-top: 20px;
    background-color: #ff3d00; /* Fondo naranja */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilos para el contenedor de la descripción */
.container-description {
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #222; /* Fondo gris oscuro */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: none;
}

/* Clase para el botón "Mostrar Comandos" */
.commands-tab {
    text-align: center;
    margin-top: 20px;
    background-color: #ff3d00; /* Fondo naranja */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.commands-tab:hover {
    background-color: #005a46;
}

.container-commands {
    display: none;
}
/* Estilo para el contenedor de la tabla de comandos */
.container-commands {
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #222; /* Fondo gris oscuro */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: none;
}

/* Estilo para la tabla de comandos */
.container-commands table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.container-commands th,
.container-commands td {
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    font-size: 90%;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .container-price {
        font-size: 20px;
    }
    .container-details-product {
        text-align: left;
    }
    .container-countries-and-payment {
        flex-direction: column;
    }
    .container-countries,
    .container-payment-methods {
        flex: none;
        margin: 10px 0;
    }
    /* Otros ajustes según sea necesario */
}
